# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*.swn
*.bak

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Build
build/
*.apk
*.aab
*.ipa

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
